@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    background-color: #1f2937 ;
} */

:root {
  --brand-color: #1d4fd8ec;
  --brand-link-color: #1078d3;
  --light-color: #cdd9f370;
}
